body{
    background-color: rgb(241, 238, 234);
    font-size: 17px;
}

html{
    scroll-behavior: smooth;
}

#links{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    border-radius: 50px;
    background-color: #54577c;
    height: 45px;
    word-spacing: 10px;
}
.link{
    word-spacing: 10px;
    margin-left: 5px;
   
    line-height: 50px;
}
a{
    text-decoration: none;
    color: #c6ecc4;
    margin-left: 50px;
    font-size: 20px;
}

.image{
    height: 320px;
    width: 320px;
    border-radius:70%;
}

#home{
    background-color: #ECFFB0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info{
    width: 700px;
    margin-left: 20px;
}



#achi li {
  background: #ccdd95;
  padding: 15px;
  border-left: 5px solid #1e3c72;
  margin-bottom: 15px;
  border-radius: 8px;
}

#skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
}

#skills ul li {
  background: #e3e9ff;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: 500;
  transition: 0.3s;
}

#skills ul li:hover {
  background: #1e3c72;
  color: white;
  transform: scale(1.05);
}

#home {
  background: #ddecab;
  padding: 40px;
  border-radius: 50px;
  max-width: 900px;
  margin: 40px auto;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

#home h2 {
  font-size: 28px;
  color: #1e3c72;
  margin-bottom: 15px;
}

#home p {
  font-size: 16px;
  text-align: justify;
}

#con {
  text-align: center;
  padding: 30px;
  background: #c8d8c7;
  border-radius: 10px;
  color: #54577C;
}

#con a {
  color: #54577C;
  text-decoration: none;
  font-weight: 500;
}
